* {
    margin: 0;
    padding: 0;
}

/* Google Font Inter */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: miama;
    src: url(../Font/Miama.ttf);
}

/* ---------- */

/* Shared Styles */
.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 42px;
    background: #E6533C;
    padding: 16px 40px;
    font-size: 1.12rem;
    font-weight: 600;
    border: none;
    color: #FFF;
}

.btn-secondary {
    border-radius: 42px;
    border: 1px solid #FFF;
    padding: 16px 40px;
    font-size: 1.12rem;
    font-weight: 600;
    color: #FFF;
    background: none;
}

.section-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.section-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}






/* ---------- */
/* header related styles */
header {
    background: linear-gradient(180deg, #111 0%, rgba(49, 49, 49, 100) 50%, #111 100%);
}

/* ------------ */



/* Navbar Related Styles */
.nav-bar {
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    padding-top: 60px;
    margin: 0 auto;
}

.nav-title {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
    color: #E6533C;
}

.nav-item-container {
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 10px 15px;
}


.nav-items {
    gap: 50px;
    align-items: center;
}

.nav-item {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #FFF;
    font-size: 1.12rem;
    font-weight: 400;
}

.nav-links:hover {
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 46px;
    background: #E6533C;
    transition: ease-in 0.1s;
}

/* ----------------- */


/* Banner Styles */
.banner {
    max-width: 1240px;
    margin: 32px auto;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: center;
}

.banner-container {
    max-width: 520px;
}

.banner-title {
    color: #FFF;
    font-size: 5rem;
    font-weight: 900;
}

.banner-description {
    color: rgba(255, 255, 255, 0.50);
    margin: 30px 0px;
}

.banner-btn {
    gap: 20px;
}



#shape {
    font-family: miama;
    font-weight: 400;
    font-size: 7rem;
    line-height: 0%;
}

.banner-img {
    width: 100%;
}

.banner-img-container {
    position: relative;
}


.banner-card {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 200px;
    position: absolute;
}

.card-one {
    top: 420px;
    right: 250px;
}

.card-two {
    top: 190px;
    left: 150px;
}


.card-title {
    color: #FAFAF9;
    font-size: 1.5rem;
    font-weight: 900;
}

.card-description {
    color: rgba(239, 237, 232, 0.65);
}


.circle {
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* ------------- */

/* Main Part Related Styles */
main {
    background: #111;
}

section {
    max-width: 1240px;
    margin: 0px auto;
    /* padding: 100px; */
    text-align: center;
}


/* Change Your Habits Section */
.change-habits {
    padding: 100px;
}

.habit-card-container {
    justify-content: space-between;
    margin-top: 60px;
}

.habit-card-img {
    border-radius: 50%;
}

.habit-card-title {
    color: #FFF;
    font-size: 1.12rem;
    font-weight: 600;
    margin-top: 30px;
}

.habit-card-description {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}

/* ---------------- */

/* Run Card */
.run-card-container {
    padding: 30px 32px 29px 54px;
    max-width: 1240px;
    border-radius: 18px;
    background: #222;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


.run-content {
    max-width: 450px;
    text-align: left;
}

.run-card-btn {
    margin-top: 30px;
    width: 50%;
}

.rum-img img {
    max-width: 370px;
    border-radius: 18px;
}

/* --------------- */



/* BMI Calculator Section */
.bmi-calculator {
    text-align: left;
    max-width: 100%;
}



.bmi-calculator-content {
    text-align: left;
    margin: 0 auto;
    padding: 80px 0px;
    width: 50%;
}

.bmi-calculator-container {
    background: #222;
}

.bmi-calculator-chart {
    max-width: 1240px;
    margin: 0px auto;
    justify-content: space-between;
}

.calculator-chart {
    width: 50%;
}

/* BMI Chart */
.bmi-chart-title {
    padding: 50px 0px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 900;
}

table,
th,
td {
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    padding: 15px 30px 15px 20px;
}

table {
    width: 80%;
}

th {
    color: #FFF;
    font-weight: 500;
    font-size: 1rem;
}

td {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.50);
}

/* Calculate Your BMI */
.calculate-your-bmi {
    margin-bottom: 50px;
}


.bmi-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.60);
    margin: 34px auto;
}

.bmi-form input,
select {
    background: rgba(255, 255, 255, 0.10);
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
}

.select-activity {
    grid-column: span 2;
}

/* --------------- */


/* Meet Our Team */
.meet-our-team {
    margin-top: 80px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
}

.trainers img {
    width: 100%;
    border-radius: 18px;
    height: 272px;

}

footer {
    margin-top: 100px;
    background: #222222;
}

.footer-container {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.fitness-content{

}
.fitness-title {
    color: #E6533C;
    font-size: 4.5rem;
    font-style: italic;
    font-weight: 800;
}

.fitness-description {
    color: rgba(255, 255, 255, 0.50);
}